:root {
    --background: #ffffff;
    --foreground: #0f172a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist-sans), Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}